.title-text {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}

.date {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 13px;
}

.description-text {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 13px;
}

.title-date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
